

@function my_calc($type, $number, $font : false) {

  $my_calc_text : $number / 1457 * 100;
  $elseNumber : if($type == 'big', $number  * (1920 / 1457) ,  $number);
  @return unquote(if($type == 'vw', $my_calc_text + 'vw' ,    $elseNumber + 'px'));
}

@mixin common_styles($type) {
  .row {
    display: flex;
  }
  .common-title {
    font-family: AireBoldPro;
    font-size: 60px;
    line-height: 60px;
    /* or 100% */

    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
  .text-block {
    font-family: gotham;
    font-style: normal;
    font-weight: 400;
    font-size: #{my_calc($type, 17.5)};
    line-height: #{my_calc($type, 36)};
    letter-spacing: 0.12em;
  }

}
@include common_styles ('px');

@media screen and (min-width: 1025px) and (max-width: 1920px) {
  @include common_styles('vw');
}

.subtitle-text {
  font-family: 'gotham';
  font-weight: bold;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: var(--text-color-1);
}

.selection-title {
  font-family: AireBoldPro;
  font-size: 150px;
  line-height: 155px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--text-color-1);
}

.text-block {
  font-family: gotham;
  font-style: normal;
  font-weight: 400;
  font-size: 17.5px;
  line-height: 36px;
  letter-spacing: 0.12em;
  color: var(--text-color-1);
}


